/* 1 - Animação texto*/


/* Suaviza a logo com leve zoom e fade */

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px) scale(0.95);
        filter: blur(4px);
    }
    60% {
        opacity: 0.7;
        transform: translateY(0) scale(1.02);
        filter: blur(1px);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
}


/* Faz o texto aparecer com leve brilho e suavidade */

@keyframes fadeText {
    0% {
        opacity: 0;
        transform: translateY(40px);
        letter-spacing: 2px;
        filter: blur(4px);
    }
    70% {
        opacity: 0.8;
        transform: translateY(0);
        filter: blur(1px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}


/* 3 - Animação logo*/

@keyframes fadeLogo {
    0% {
        opacity: 0;
        transform: translateY(-40px) scale(0.95);
        filter: blur(3px);
    }
    60% {
        opacity: 0.8;
        transform: translateY(-60px) scale(1.05);
        filter: blur(1px);
    }
    100% {
        opacity: 1;
        transform: translateY(-60px) scale(1);
        filter: blur(0);
    }
}